In [2]:
import numpy as np

revenue_in_yen = [
    300000, 340000, 320000, 360000,
    440000, 140000, 180000, 340000,
    330000, 290000, 280000, 380000,
    170000, 140000, 230000, 390000,
    400000, 350000, 380000, 150000,
    110000, 240000, 380000, 380000,
    340000, 420000, 150000, 130000,
    360000, 320000, 250000
]

array_yen = np.array(revenue_in_yen)
array_krw = array_yen * 9.03
array_krw

array([2709000., 3070200., 2889600., 3250800., 3973200., 1264200.,
       1625400., 3070200., 2979900., 2618700., 2528400., 3431400.,
       1535100., 1264200., 2076900., 3521700., 3612000., 3160500.,
       3431400., 1354500.,  993300., 2167200., 3431400., 3431400.,
       3070200., 3792600., 1354500., 1173900., 3250800., 2889600.,
       2257500.])